<div class="col-lg-6 col-lg-offset-3">
  <h2> Categories: </h2>
  <ul>
    <% @categories.each do |x|%>

    <li> <h3> <%= x.title %> </h3>
    <%= link_to 'Delete',x, method: :delete %> </li>
    <% end %>
  </ul>
  <%= link_to 'Create category', categories_new_path %>
</div>
