<div class="col-md-6 col-md-offset-3">
  <% @products.each do |product|%>
      <!-- <h3><%= product.title%>
      </h3>

    <h3>   price: <%= product.price%> $  </h3>
    
    <hr> -->
    <%= render "product_row", product: product, order_item: @order_item %>
    <hr>
  <% end %>
  <h4> <%= link_to 'Create product', new_path %> </h4>
</div>
